<hr>
<footer>
    <div class="container-fluid text-center">
        <nav>
        <a href="https://x.com/ucbethuel"><img src="../../static/fontawesome/svgs/brands/x-twitter.svg" width="15" height="15" alt="X-twitter icon"></a>
        <a href="https://facebook.com/ucbethuel"><img src="../../static/fontawesome/svgs/brands/facebook.svg" width="15" height="15" alt="Facebook icon"></a>
        <a href="https://linkedin.com/in/ucbethuel"><img src="../../static/fontawesome/svgs/brands/linkedin-in.svg" width="15" height="15" alt="LinkedIn Icon"></a>
        <a href="https://github.com/ucbethuel"><img src="../../static/fontawesome/svgs/brands/github.svg" width="15" height="15" alt="github"></a>
    </nav>
    <b>&copy; November 2024 Challenge by Uchenna Bethel Orji</b>
</div>
</footer>