{% extends "base.html" %}
{% block title %} AlSys - View Attendance {% endblock %}

{% block main %}

    {%with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">{{ messages[0] }}</div>
    {% endif %}
    {% endwith %}
</div>
<a href="{{ url_for('attendance.index') }}"><button class="btn btn-primary ms-5">Add attendance</button></a>
<h1 class="text-center">List of attendance list </h1>
<p class="text-center">Today attendance totals: {{ total_len }}</p>
<table class="table table-striped align-items-center">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>action</th>
    </thead>

    <tbody>

    </tbody>
    {% for person in attendance %}
    <tr>
        <th>{{ person.id }}</th>
        <td>{{ person.name }}</td>
        <td>{{ person.action }}</td>
    </tr>
    {% endfor %}

</table> 
{% endblock %}