<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/brands.css')}}">
    {% endblock %}
</head>
<body>
    {% block body %}
    {% include "./include/header.html"%}

    {% block main%}{% endblock %}

    {% include "./include/footer.html"%}
    {% endblock %}
</body>
</html>